.ant-tabs-content {
    height: 100%;
    overflow-y: auto;
}

.ant-tabs-content-top {
    height: 100%;
    overflow-y: auto;
}

.ant-tabs >.ant-tabs-nav .ant-tabs-nav-wrap {
    height: 40px !important;
}

.ant-input{
    margin-top: 0px !important;
}