.dataField {
  width: 100%;
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.horizontalLayout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px; /* Adjust this value to increase/decrease spacing between elements */
}

.inputField {
  width: 150px; /* Adjust this value based on your needs */
}

.clearButton,
.goButton {
  min-width: 80px; /* Adjust this value based on your needs */
}